/*------------------------------------- PORTFOLIO.HTML -----------------------------------*/

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --accent-text-color: #ffffff;
  --itm-logo-color: #afb1b8;
  --item-card: 30px;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.box-link {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*--------------------------------------- heder --------------------------------------*/

.page-header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.logo {
  display: inline-block;
  color: var(--primary-text-color);
  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.list {
  display: flex;
  list-style: none;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}
.link {
  display: inline-block;
}
.links-nav {
  display: flex;
  margin-left: 93px;
}

.links-nav .item + .item,
.contacts-nav .item + .item {
  margin-left: 50px;
}

.links-nav .item:last-child,
.pecularities-list:last-child {
  margin-right: 0px;
}
.links-nav .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
}

.links-nav .link:hover,
.contacts-nav .mail-tel:focus,
.contacts-nav .mail-tel:hover,
.links-nav .link:focus {
  color: var(--accent-color);
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .mail-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
/*-------------------------------------- block-main --------------------------------------------------*/
/*------------------------------ filter-button-section -------------------------------------------*/
.nav-btn {
  justify-content: center;
  margin-bottom: 50px;
}
.nav-btn .item-btn:not(:last-child) {
  margin-right: 6px;
}
.btn {
  padding: 6px 22px;
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  color: var(--accent-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*-------------------------------------- projects-menu ----------------------------*/
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--item-card));
  margin-bottom: calc(-1 * var(--item-card));
}
.project-item {
  width: 370px;
  flex-basis: calc((100% / 3) - var(--item-card));
  margin-right: var(--item-card);
  margin-bottom: var(--item-card);
}
.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*--------------- card ---------------------*/
.card {
}

.card-thumb {
}

.title-conteiner {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.list .list-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.list .list-work {
  font-size: 16px;
  line-height: 1.87;
  color: var(--title-text-color);
}

/* --------------------------------------------------footer---------------------------------------*/
.footer {
  background: #2f303a;
}
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0px;
}
.logo-footer {
  color: var(--accent-text-color);
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-item .item-link:not(:last-child) {
  display: flex;
  margin-bottom: 9px;
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link {
  color: var(--accent-text-color);
  line-height: 2;
  font-size: 14px;
}

.footer a {
  text-decoration: none;
}

/* ----------------------------------INDEXT.HTML ----------------------------------------*/

/*--------------------- block-hero------------------------- */
.hero {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--accent-text-color);
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  color: var(-- accent-text-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
}
/* --------------------Block-Peculiarities---------------- */
.section-pecularities {
  padding-bottom: 0px;
}
.pecularities {
  display: flex;
}
.pecularity-item {
  min-width: 270px;
  min-height: 101px;
  margin-right: 30px;
}
.pecularities-list {
}

.pecularities-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.list .pecularities-title {
  font-size: 14px;
  line-height: 1.14;
}

.list .pecularities-text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* --------------------------Block-whate-we-do----------------- */
.work-item {
  display: flex;
  align-items: center;
}
.work-item .item:not(:last-child) {
  margin-right: 30px;
}
/* ---------------------Block-People --------------------------*/
.comand {
  background: #f5f4fa;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.list-comand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-comand .list:not(:last-child) {
  margin-right: 30px;
}
.item-comand {
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.comand-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.comand-text {
  font-size: 16px;
  line-height: 1.18;
}
/* ------------------------- Block-clients--------------------------
.client {
  padding-top: 94px;
}

.client-link {
  display: inline-block;
  border: 1px solid;
  color: var(--itm-logo-color);
  padding: 16px 32px;
  border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
} */
